body {
  background-color: var(--background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

:root {
  /* text */
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  /* logo */
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  /* fon colors */
  --fon-section-first-color: #2f303a;
  --fon-section-second-color: #e5e5e5;
  --fon-section-third-color: #f5f4fa;
  --background-color: #ffffff;
  /* icons colors */
  --icon-primary-color: #afb1b8;
  --icon-secondary-color: #ffffff;
  --icon-accent-color: #2196f3;
  --fon-icon-benefits: #f5f4fa;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.14;
  margin-right: 93px;
}

.span-first {
  color: var(--logo-second-color);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.14;
}

.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.14;
}

.span-second {
  color: var(--background-color);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.14;
}

.section-header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  position: relative;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--icon-accent-color);
  color: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
}

.site-nav .link {
  color: var(--primary-text-color);
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

.contact-info:not(:last-child) {
  margin-right: 30px;
}

.contact-nav .contact-text {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .contact-text:hover,
.contact-nav .contact-text:focus {
  color: var(--accent-color);
}

.contact-img {
  fill: var(--icon-primary-color);
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-text:hover .contact-img,
.contact-text:focus .contact-img {
  fill: var(--icon-accent-color);
}

.section-footer {
  background-color: var(--fon-section-first-color);
  padding-top: 64px;
  padding-bottom: 60px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact-footer {
  margin-top: 20px;
}

.contact-text-footer:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer .footer-text {
  color: var(--title-text-color);
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text.maps {
  color: var(--background-color);
}

.maps :hover,
.maps :focus {
  color: var(--accent-color);
}

.contact-footer .footer-text:hover,
.contact-footer .footer-text:focus {
  color: var(--accent-color);
}

.container-icons-footer {
  margin-left: 70px;
}

.text-icon {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--icon-secondary-color);
  text-transform: uppercase;
}

.socials-icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-cards:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-links-icons {
  fill: var(--icon-secondary-color);
}

.social-link:hover .social-links-icons {
  fill: var(--icon-secondary-color);
}

.social-links-icons:not(:last-child) {
  margin-right: 10px;
}

.subscription {
  color: var(--icon-secondary-color);
  margin-left: auto;
}

.subscription-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription-label {
  margin-right: 12px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  background-color: var(--fon-section-first-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.button-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--icon-accent-color);
  color: var(--icon-secondary-color);
  border: 0;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscription-icon {
  fill: var(--icon-secondary-color);
  margin-left: 10px;
}

.subscription-title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--icon-secondary-color);
  text-transform: uppercase;
  margin-left: 0;
}

.hero {
  background-color: var(--fon-section-first-color);
  text-align: center;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/fon-img-25.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/fon-img-25.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--background-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-top: 0;
}

.button {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  border: 0ch;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color);
}

.button-close-img {
  fill: var(--logo-second-color);
}

.button-close:hover .button-close-img,
.button-close:focus .button-close-img {
  fill: var(--icon-accent-color);
}

.button-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  background: var(--background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
}

.textarea {
  resize: none;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 16px;
  outline: transparent;
}

.textarea:hover,
.textarea:focus {
  border: 1px solid var(--icon-accent-color);
}

.modal-form {
  padding: 40px;
}

.modal-text {
  margin-bottom: 30px;
  font-weight: 700;
  color: #212121;
  font-size: 20px;
  line-height: 1.15;
}

.modal-link {
  color: var(--icon-accent-color);
}

.form-text {
  font-weight: 400;
  text-align: left;
  margin-top: 30px;
}

.button-submit {
  display: block;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--icon-accent-color);
  color: var(--icon-secondary-color);
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.form-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-info {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
}

.form-title-text {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
}

.form-item {
  position: absolute;
  top: 28px;
  left: 15px;
}

.form-checkbox {
  font-size: 14px;
  line-height: 1.71;
}

.form-border {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  margin-bottom: 10px;
  outline: transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agriment-wrapper {
  margin-bottom: 30px;
}

.form-border:hover,
.form-border:focus,
.form-border:not(:placeholder-shown) {
  border: 1px solid var(--icon-accent-color);
}

.form-title:hover .form-item,
.form-border:focus + .form-item,
.form-border:not(:placeholder-shown) + .form-item {
  fill: var(--icon-accent-color);
}

.benefits .benefits-item {
  margin-right: 30px;
}

.benefits-images-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--fon-icon-benefits);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits .benefits-item:last-child {
  margin-right: 0;
}

.benefits .benefits-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-benefits {
  background-color: var(--background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  padding-bottom: 0;
}

.benefits-title {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}

.features__title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 30px;
}

.features-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-imgs__img {
  position: relative;
  margin-right: 30px;
}

.features-imgs__img:last-child {
  margin-right: 0;
}

.features-imgs__fon {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--icon-secondary-color);
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: var(--fon-section-third-color);
  padding-bottom: 94px;
}

.section-team .team-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.container-icons {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team .team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list .border {
  margin-right: 30px;
}

.team-list .border:last-child {
  margin-right: 0;
}

.border {
  background: var(--background-color);
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
}

.teams-links-icons {
  fill: var(--icon-primary-color);
}

.team-link:hover .teams-links-icons,
.team-link:focus .teams-links-icons {
  fill: var(--icon-secondary-color);
}

.border .prof {
  text-align: center;
  margin-bottom: 16px;
}

.socials-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-cards:not(:last-child) {
  margin-right: 10px;
}

.teams-links-icons:not(:last-child) {
  margin-right: 10px;
}

.section-company .title {
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.company-item:not(:last-child) {
  margin-right: 30px;
}

.company-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  fill: var(--icon-primary-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-item:hover,
.company-item:focus {
  fill: var(--icon-accent-color);
  border: 1px solid var(--icon-accent-color);
}

.button-title {
  color: var(--primary-text-color);
  background-color: var(--fon-section-third-color);
  font-family: inherit;
  font-weight: 500;
  height: 38px;
  cursor: pointer;
  border: 0ch;
  text-align: center;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-title:hover,
.button-title:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 1.62;
}

.primary-button .button-text {
  margin-right: 8px;
}

.primary-button .button-text:last-child {
  margin-right: 0;
}

.button-title {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}

.button-title:hover,
.button-title:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0ch;
}

.nav-img .navigation {
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.nav-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-navigation {
  background-color: var(--background-color);
  font-size: 16px;
  line-height: 1.87;
  padding-top: 94px;
  padding-bottom: 94px;
}

.navigation-title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-navigation .border-primary {
  background-color: var(--background-color);
  width: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-text {
  position: absolute;
  bottom: 0;
  font-weight: 400;
  color: var(--icon-secondary-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.55;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease, -webkit-transform 250ms ease;
}

.border-primary:hover .navigation-text,
.border-primary:focus .navigation-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navigation-images {
  position: relative;
  overflow: hidden;
}

.border-primary:hover,
.border-primary:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */