.section-team {
    background-color: var(--fon-section-third-color);
    padding-bottom: 94px;
  }
  .section-team .team-title {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  .container-icons {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-list .title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  
    margin-bottom: 10px;
    text-align: center;
  }
  .team-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .team .team-list {
    display: flex;
  }
  .team-list .border {
    margin-right: 30px;
  }
  .team-list .border:last-child {
    margin-right: 0;
  }
  .border {
    background: var(--background-color);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-link:hover,
  .team-link:focus {
    background-color: var(--accent-color);
  }
  .teams-links-icons {
    fill: var(--icon-primary-color);
  }
  .team-link:hover .teams-links-icons,
  .team-link:focus .teams-links-icons {
    fill: var(--icon-secondary-color);
  }
  .border .prof {
    text-align: center;
    margin-bottom: 16px;
  }
  .socials-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team-cards:not(:last-child) {
    margin-right: 10px;
  }
  .teams-links-icons:not(:last-child) {
    margin-right: 10px;
  }