.subscription {
    color: var(--icon-secondary-color);
    margin-left: auto;
  }
  .subscription-email {
    display: flex;
  }
  .subscription-label {
    margin-right: 12px;
  }
  .email {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    width: 358px;
    height: 50px;
    background-color: var(--fon-section-first-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
  }
  .button-email {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-accent-color);
    color: var(--icon-secondary-color);
    border: 0;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  .subscription-icon {
    fill: var(--icon-secondary-color);
    margin-left: 10px;
  }
  .subscription-title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--icon-secondary-color);
    text-transform: uppercase;
    margin-left: 0;
  }