:root {
    /* text */
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    /* logo */
    --logo-first-color: #2196f3;
    --logo-second-color: #000000;
    /* fon colors */
    --fon-section-first-color: #2f303a;
    --fon-section-second-color: #e5e5e5;
    --fon-section-third-color: #f5f4fa;
    --background-color: #ffffff;
    /* icons colors */
    --icon-primary-color: #afb1b8;
    --icon-secondary-color: #ffffff;
    --icon-accent-color: #2196f3;
    --fon-icon-benefits: #f5f4fa;
  }
  